<footer class="site-footer clearfix">
    <div class="row">
        <div class="col-md-6 conversationCorner">
            <p class="contactDetails">Start the conversation</p>
            <ul class="footer-social-link">
                <li style="margin-right: 1vw;"><a class="linksFooter" title="Email"
                        href="https://mail.google.com/mail/u/" target="_blank"><i class="fa fa-envelope-o iconsAlign"
                            aria-hidden="true"></i>{{emailId}}</a>
                </li>
                <li style="margin-right: 1vw;">
                    <a title="Whatsapp" class="linksFooter" style="margin-right: 20px !important;"
                        href="https://api.whatsapp.com/send?phone=8668553488&text=Hi,%20Hope%20you%20are%20doing%20well.%20How%20may%20I%20help%20you.?"
                        target="_blank"><i class="fa fa-whatsapp iconsAlign" aria-hidden="true"></i>{{whatsAppNum}}</a>
                    <a class="linksFooter" title="Call me"><i *ngIf="showCall" class="fa fa-phone iconsAlign"
                            aria-hidden="true"></i>{{call}}</a>
                </li>
            </ul>
        </div>


        <div class="col-md-4 offset-md-2 footer-social">
            <p class="contactDetails">Follow me on</p>
            <ul class="footer-social-links">
                <li style="margin-right: 1vw;"><a class="linksFooter" title="LinkedIn" href="{{linkedIn}}"
                        target="_blank"><i class="fa fa-linkedin-square iconsAlign" aria-hidden="true"></i></a></li>
                <li style="margin-right: 1vw;"><a class="linksFooter" title="Instagram" href="{{instagram}}"
                        target="_blank"><i class="fa fa-instagram iconsAlign" aria-hidden="true"></i></a></li>
                <li style="margin-right: 1vw;"><a class="linksFooter" title="Facebook" href="{{facebook}}"
                        target="_blank"><i class="fa fa-facebook iconsAlign" aria-hidden="true"></i></a></li>
                <li style="margin-right: 1vw;"><a class="linksFooter" title="Github" href="{{github}}"
                        target="_blank"><i class="fa fa-github iconsAlign" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>