<footer class="site-footer clearfix">
    <div class="row footer-social">
        <ul class="footer-social-links">
            <li style="margin-right: 1vw;"><a class="linksFooter" href="https://www.linkedin.com/in/ajay-more-457a82131/" target="_blank">LinkedIn</a></li>
            <li style="margin-right: 1vw;"><a class="linksFooter" href="https://www.instagram.com/__ajaymore__/" target="_blank">Instagram</a></li>
            <li style="margin-right: 1vw;"><a class="linksFooter" href="https://www.facebook.com/ajay.more.39/" target="_blank">Facebook</a></li>
            <li style="margin-right: 1vw;"><a class="linksFooter" href="https://github.com/AJAYMORE06" target="_blank">GitHub</a></li>
        </ul>
    </div>
</footer>