<div class="container" style="margin-top: 15vh; margin-left: 12vw; margin-bottom: 15vh;">
        <div class="row">
                <div class="col-md-2  boxAbout">
                        <p class="boxStyle"><span class="text-success fontFam">// My Self Introduction</span></p>
                        <p style="color: #fff;">&#123;</p>
                        <p class="fontFam boxStyle">"First Name": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{firstName}}</span>&nbsp;,</p>
                        <p class="fontFam boxStyle">"Last Name": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{lastName}}</span>&nbsp;,</p>
                        <p class="fontFam boxStyle">"Age": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{age}}</span>&nbsp;,</p>
                        <p style="color: #fff;">&#10101;</p>
                </div>
                <div class="col-md-2 offset-md-1 boxAbout">
                        <p class="boxStyle"><span class="text-success fontFam">// Education</span></p>
                        <p style="color: #fff;">&#123;</p>
                        <p class="fontFam boxStyle">"Graduation": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{qualification}}</span>&nbsp;,</p>
                        <p class="fontFam boxStyle">"Stream": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{stream}}</span>&nbsp;,</p>
                        <p class="fontFam boxStyle">"From": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{university}}</span>&nbsp;,</p>
                        <p style="color: #fff;">&#10101;</p>
                </div>
                <div class="col-md-2 offset-md-1 boxAbout">
                        <p class="boxStyle"><span class="text-success fontFam">// Hobbies</span></p>
                        <p style="color: #fff;">&#123;</p>
                        <p class="fontFam boxStyle">
                                "Indoor": <span class="fontFam" style="color: #7066ff;">&nbsp; {{indoorHobbie}}</span>&nbsp;,
                        </p>
                        <p class="fontFam boxStyle">"Outdoor": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{outdoorHobbie}}</span>&nbsp;,</p>
                        <p style="color: #fff;">&#10101;</p>
                </div>
                <div *ngIf="totalExperienceBool" class="col-md-2 offset-md-1 boxAbout">
                        <p class="boxStyle"><span class="text-success fontFam">// Experience</span></p>
                        <p style="color: #fff;">&#123;</p>
                        <p *ngIf="!moreExperience" class="fontFam boxStyle">"Total": <span class="fontFam"
                                        style="color: #7066ff;">&nbsp;{{totalExperience}} Years</span>&nbsp;,</p>
                        <p *ngIf="moreExperience" class="fontFam boxStyle">"Total": <span class="fontFam"
                                        style="color: #7066ff;">&nbsp;{{totalExperience}} Year</span>&nbsp;,</p>
                        <p class="fontFam boxStyle">"Where": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{currentEmployer}}</span>&nbsp;,</p>
                        <p class="fontFam boxStyle">"Designation": <span class="fontFam" style="color: #7066ff;">&nbsp;
                                        {{designation}}</span>&nbsp;</p>
                        <p style="color: #fff;">&#10101;</p>
                        <a routerLink="/experience" class="touch fontFam">View Details</a>
                </div>
        </div>
        <br>
        <div class="container">
                <h4 class="fontFam" style="color: #7066ff;">Skills</h4>
                <p class="fontFam boxStyleSkillTitle"> &nbsp; &nbsp;var technical_Skills =&nbsp;<span
                                class="fontFam boxStyleSkill" style="color: #7066ff;">
                                <span style="color: #fff;">&#10635; </span>&nbsp;{{technicalSkills}}&nbsp;<span
                                        style="color: #fff;">&#10636;</span>&nbsp;<span style="color: #fff;">;</span>
                        </span></p>
                <p class="fontFam boxStyleSkillTitle"> &nbsp; &nbsp;var soft_Skills =&nbsp;<span
                                class="fontFam boxStyleSkill" style="color: #7066ff;">
                                <span style="color: #fff;">&#10635; </span>&nbsp;{{softSkills}}&nbsp;<span
                                        style="color: #fff;">&#10636;</span>&nbsp;<span style="color: #fff;">;</span>
                        </span></p>
        </div>
        <br>
        <div class="container">
                <h4 class="fontFam" style="color: #7066ff;">Goals</h4>
                <p class="fontFam boxStyleSkill"><span>
                                <h5 class="fontFam boxStyleSkill"> &nbsp; &nbsp;Short Term Goal:</h5>
                        </span><span style="padding-left: 30px;">{{shortTermGoal}}</span></p>
                <p class="fontFam boxStyleSkill"><span>
                                <h5 class="fontFam boxStyleSkill"> &nbsp; &nbsp;Long Term Goal:</h5>
                        </span><span style="padding-left: 30px;">{{longTermGoal}}</span></p>
        </div>
</div>