<div class="container" >
    <div class="intro">
            <img class="myImg" src="../../assets/myImg.png" alt="myImg">
        <div style="margin-top: 5vh;">
            <h6 class="text-white fontFam">Frontend-Developer</h6>
            <h1 class="text-white fontFam">Ajay More</h1><br>

            <p class="text-white fontFam"> Hello there! My name is Ajay and I'm a web developer by profession,<br>
                but also a gamer and footballer.
                I enjoy creating things that focus on usefulness and elegance.
                <br>
                <a routerLink="/about" class="touch fontFam">Let's get in touch!</a>
            </p>
            <br>
            <button class="btn btn-primary" type="button"><a class="downloadLink" href="../../assets/Ajay's Resume.pdf" download>Download CV</a></button>
        </div>
    </div>
</div>