<div *ngIf="showDownload" class="container">
    <div class="intro">
        <img class="myImg" src="../../assets/myImg.png" alt="myImg">
        <div style="margin-top: 5vh;">
            <h4 class="text-white fontFam">{{title}}</h4>
            <h1 class="text-white fontFam">{{name}}</h1><br>

            <p class="text-white fontFam"> {{introduction}}
                <br>
                <a routerLink="/about" class="touch fontFam">Let's get in touch!</a>
            </p>
            <br>
            <button class="btn btn-primary" (click)="download()" type="button"><a
                    class="downloadLink" href="../../assets/Ajay's Resume.pdf" download>Download CV</a></button>
            
        </div>
    </div>
</div>
<div *ngIf="!showDownload" class="container">
    <div class="introD">
        <img class="myImg" src="../../assets/photo-of-designer-creating-a-website.jpg" alt="myImg">
        <div style="margin-top: 5vh;">
            <h4 class="text-white fontFam">{{title}}</h4>
            <h1 class="text-white fontFam">{{name}}</h1><br>

            <p class="text-white fontFam"> {{introduction}}
                <br>
                <a routerLink="/about" class="touch fontFam">Let's get in touch!</a>
            </p>
            <br>
            <button class="btn btn-primary" type="button"><a class="downloadLink"
                href="https://novoresume.com/" target="_blank" download>Build Resume</a></button>
        </div>
    </div>
</div>