<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container-fluid">
        <a class="navbar-brand fontBrand" href="#" style="margin-left:5vw;" target="_self">
            <strong>My Portfolio</strong>
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto" id="linksActive" style="margin-left: 26vw;">
                <li class="nav-item ">
                    <a class="nav-link fontNav active" routerLinkActive="active" target="_self" routerLink="/home">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fontNav" target="_self" routerLinkActive="active" routerLink="/about">About
                        Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fontNav" target="_self" routerLinkActive="active"
                        routerLink="/experience">Experience</a>
                </li>
            </ul>
            <button *ngIf="makeBtn" class="btn btn-primary"  target="_self" routerLink="/portfolioForm" type="button">Make Portfolio</button>
            <button *ngIf="resetBtn" class="btn btn-primary"  target="_self" routerLink="/portfolioForm" type="button">Edit Portfolio</button>
        </div>

    </div>
</nav>