<div class="container" style="margin-top: 15vh;margin-bottom: 15vh;">
    <div *ngIf="boxProject" class="row">
        <div class="col-md-8 offset-md-2  boxAbout">
            <h4 class="fontFam" style="color: #fff;">{{organisation}}</h4>
            <p class="fontFam" style="color: #fff; font-size: 12px;"> {{durationProject}}</p>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Project:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{projectDesc}}</p><br>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Roles and Responsibilities:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{roles}}</p><br>
        </div>
    </div>
    <div *ngIf="boxProjectsOne" class="row">
        <div class="col-md-8 offset-md-2  boxAbout">
            <h4 class="fontFam" style="color: #fff;">{{organisationOne}}</h4>
            <p class="fontFam" style="color: #fff; font-size: 12px;"> {{durationProjectOne}}</p>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Project:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{projectDescOne}}</p><br>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Roles and Responsibilities:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{rolesOne}}</p><br>
        </div>
    </div>
    <div *ngIf="boxProjectsTwo" class="row">
        <div class="col-md-8 offset-md-2  boxAbout">
            <h4 class="fontFam" style="color: #fff;">{{organisationTwo}}</h4>
            <p class="fontFam" style="color: #fff; font-size: 12px;"> {{durationProjectTwo}}</p>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Project:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{projectDescTwo}}</p><br>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Roles and Responsibilities:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{rolesTwo}}</p><br>
        </div>
    </div>
    <div *ngIf="boxProjectsThree" class="row">
        <div class="col-md-8 offset-md-2  boxAbout">
            <h4 class="fontFam" style="color: #fff;">{{organisationThree}}</h4>
            <p class="fontFam" style="color: #fff; font-size: 12px;"> {{durationProjectThree}}</p>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Project:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{projectDescThree}}</p><br>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Roles and Responsibilities:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{rolesThree}}</p><br>
        </div>
    </div>
    <br>
    <div *ngIf="boxAboutAj" class="row">
        <div class="col-md-8 offset-md-2  boxAbout">
            <h4 class="fontFam" style="color: #fff;">{{organisationAj}}</h4>
            <p class="fontFam" style="color: #7066ff;font-size: 16px;font-weight: 500;">Project:</p>
            <p class="fontFam boxStyle" style="padding-left: 10px;">{{projectDescAj}}</p><br>
        </div>
    </div>
</div>